.box {
  width: 15%;
  height: 185px;
  background-color: black;
  display: inline-block;
  margin: 2.5%;
  opacity: 0.9;
  border-radius: 5px;
  border: 1px solid white;
}
.wrapper {
  padding: 200px;
  height: 880px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
/* .box-container {
  display: inline;
} */
